extends layout

block content
  .container(style="margin-top:70px;")
    .row.row-offcanvas.row-offcanvas-right
      #sidebar.col-xs-12.col-sm-3.sidebar-offcanvas(role='navigation')
        .list-group

          a.list-group-item.col-xs-4.col-sm-12(target='_blank', href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
          a.list-group-item.col-xs-4.col-sm-12(href='#') Link
        // /span
      .col-xs-12.col-sm-9

        .jumbotron.bisque
          h1 Welcome #{title} #{one}
          p
            | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
        .row
          .col-6.col-sm-6.col-lg-4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#', role='button') View details »
          // /span
          .col-6.col-sm-6.col-lg-4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#', role='button') View details »
          // /span
          .col-6.col-sm-6.col-lg-4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#', role='button') View details »
          // /span
          .col-6.col-sm-6.col-lg-4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#', role='button') View details »
          // /span
          .col-6.col-sm-6.col-lg-4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#', role='button') View details »
          // /span
          .col-6.col-sm-6.col-lg-4
            h2 Heading
            p
              | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#', role='button') View details »
          // /span
        // /row
    // /row
  // /.container
  footer.darkseagreen
    p.text-center Copyright © 2014. Designed by nieweidong.
