extends layout

block content
  - var imgObj = oImgList;
    each imgK in imgObj
      img.backImg(alt = imgK.copyright , src ="http://www.bing.com#{imgK.url}")
  script(type='text/javascript').
    var num = 0;
    $(".backImg").eq(num).fadeIn(1500);
    var time = setInterval(function () {
      num++;
      $(".backImg").fadeOut(1500);
      $(".backImg").eq(num).fadeIn(1500);
      if (num == 3) {
        num = -1;
      }
    }, 10000)
