doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='renderer', content='webkit')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    meta(name='author', content='ET-zhang')
    meta(name='keywords', content='zhang,z,z,张英杰,英杰,html,个人主页,javascript,前端')
    meta(name='description', content='dom,')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/BootSideMenu.css')
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='javascript' src='/javascripts/jquery.min.js')
  body
    // Test
    #test
      .list-group
        a.list-group-item.active(href='/') ET-Zhang
        a.list-group-item(href='#') Dapibus ac facilisis in
    // /Test 2
    // Normale contenuto di pagina
    .container-fluid
      .row
        block content
    footer.darkseagreen
    script(rel='javascript' src='/javascripts/bootstrap.min.js')
    script(rel='javascript' src='/javascripts/BootSideMenu.js')
    script(rel='javascript' src='/javascripts/vue.js')
    script(rel='javascript' src='/javascripts/sidebar.js')
